[submodule "odoo/external-src/account-analytic"]
	path = odoo/external-src/account-analytic
	url = git@github.com:OCA/account-analytic
[submodule "odoo/external-src/account-financial-reporting"]
	path = odoo/external-src/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting
[submodule "odoo/external-src/account-financial-tools"]
	path = odoo/external-src/account-financial-tools
	url = git@github.com:OCA/account-financial-tools
[submodule "odoo/external-src/bank-statement-reconcile"]
	path = odoo/external-src/bank-statement-reconcile
	url = git@github.com:OCA/bank-statement-reconcile
[submodule "odoo/external-src/enterprise"]
	path = odoo/external-src/enterprise
	url = git@github.com:odoo/enterprise
